<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">

      <mat-card fxFlex class="shared-library-lifecycle" [ngClass.gt-md]="'card-auto-size'">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Lifecycle</span>
          <mat-icon color="primary">play_for_work</mat-icon>
        </mat-card-title>

        <mat-card-content fxLayout="row wrap" class="margin-top-x1">
          <span class="color-primary padding-bottom-x1">
            <button
              class="text-upper margin-right-x1"
              mat-raised-button
              (click)="unload()"
              [disabled]="sharedLibrary.isFetchingDetails || sharedLibrary.isUpdatingState || sharedLibrary.components.length > 0"
            >
              <mat-icon *ngIf="sharedLibrary.components.length > 0"
                matTooltip="To unload a shared library, all components that use it should be unloaded first"
                matTooltipPosition="above">info</mat-icon>
              <mat-icon *ngIf="sharedLibrary.components.length === 0">remove_circle_outline</mat-icon>
              <span>Unload</span>
            </button>
          </span>
        </mat-card-content>

        <app-message type="error" [msg]="sharedLibrary.errorChangeState"></app-message>

      </mat-card>
    </div>
  </div>
</div>
