<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<app-mat-card-toolbar [title]="title" titleIcon="file_upload">
  <mat-card-content>
    <div *ngIf="!selectedFileInformation">
      <input
        type="file"
        name="choose-file-hidden"
        #selectFile
        [accept]="acceptedFileType"
        (change)="fileChange($event)"
        required
      >

      <button
        class="btn-choose-file text-upper"
        mat-raised-button
        [disabled]="disabled"
        (click)="selectFile.click()"
      >
        <mat-icon color="primary">attach_file</mat-icon>
        <span class="choose-file">Choose a file...</span>
        <span [hidden]="!selectFile?.required">*</span>
      </button>
    </div>

    <div
      class="when-selected-file"
      *ngIf="selectedFileInformation"
    >
      <div
        class="selected-file"
        fxLayout="column"
      >
        <mat-chip-list fxLayout="row">
          <mat-chip class="selected-file-name margin-bottom-x1" color="accent" selected="true" fxLayoutAlign="center start">
            <span class="file-name">{{ selectedFileInformation.file.name }}</span>
            <mat-icon class="cancel-file" matChipRemove (click)="cancelFile()">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

        <div fxFlex.lt-md></div>

        <div
          class="edit-information margin-top-x1"
          *ngIf="updateFileInformation"
          fxFlex
        >
          <app-mat-card-toolbar [title]="'Edit information'" titleIcon="mode_edit">
            <ng-container [ngTemplateOutlet]="updateFileInformation.templateRef"></ng-container>
          </app-mat-card-toolbar>
        </div>

        <div
          class="upload-actions"
          *ngIf="!isUploading"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <button mat-button class="btn-cancel-file margin-right-x1 text-upper" (click)="cancelFile()">
            <span class="clear-name">Cancel</span>
          </button>

          <button mat-raised-button class="btn-upload text-upper" color="primary" (click)="uploadFile()" [disabled]="disabled">
            <mat-icon>file_upload</mat-icon>
            <span>Upload</span>
          </button>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isUploading">
        <p>Uploading the file...</p>

        <mat-progress-bar
          color="primary"
          mode="determinate"
          [value]="percentage"
          >
        </mat-progress-bar>
      </div>
    </div>

    <app-message
      class="error-upload"
      type="error"
      [msg]="error"
    ></app-message>
  </mat-card-content>
</app-mat-card-toolbar>
