/**
 * Copyright (C) 2018-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@mixin custom-sidebar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .sidebar {
    background-color: mat-color($primary, 800);
    .sidebar-wrapper {
      background-color: mat-color($primary, 800);
      .sidebar-top {
        color: mat-color($primary, default-contrast);
        .btn-logo {
          border-bottom-color: mat-color($primary, default-contrast);
        }
        .btn-topology {
          &.active {
            border-left-color: mat-color($accent);
            color: mat-color($primary, default-contrast);
            background-color: mat-color($primary, 900);
          }
        }
        .btn-services {
          &.active {
            border-left-color: mat-color($accent);
            color: mat-color($primary, default-contrast);
            background-color: mat-color($primary, 900);
          }
        }
      }
      .sidebar-bottom {
        color: mat-color($primary, default-contrast);
        .btn-user-admin {
          &.active {
            border-left-color: mat-color($accent);
            color: mat-color($primary, default-contrast);
            background-color: mat-color($primary, 900);
          }
        }
        .btn-user-profile {
          &.active {
            border-left-color: mat-color($accent);
            color: mat-color($primary, default-contrast);
            background-color: mat-color($primary, 900);
          }
        }
      }
    }
  }
}
