/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.container-system-info {
  white-space: pre-line;
}

.container-infos {
  padding: 24px;
}

.network-canvas {
  width: 100%;
  height: 100%;
}

.loading-graph {
  align-items: center;
  justify-content: center;
  vertical-align: top;
  display: inline-block;
}

.title-containers-wrapper {
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  .title-containers {
    margin: 24px 0 24px 24px;
  }
}

.flex-100 {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
}

.flex-35 {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 35%;
}
